.header{
    background-color: red;
    color: white;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.title{
    background-color: royalblue;
    border-radius: 5px;
    color: white;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
}


.row{
    padding-top: 60px;
    justify-content: center;
}


.col{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: none;
}

.card{
    box-shadow: 2px 2px 6px gray;
    border-radius: 5px;
    width: 75%;
}





