body{
    background-color: gray;
}


.jumbotron{
    background-color: red;
}

.text-center{
    color: white;
}

.team-area{
    justify-content: center;

}

.card-header{
    background-color: blue;
    color: white;
}  